# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [1]:
import pandas as pd
import numpy as np
!pip install sqlalchemy==1.4.16 --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 20.1 MB/s eta 0:00:00


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
df_path = "/content/drive/MyDrive/Colab Notebooks/CSV/dataset_part_2 (1).csv"
df = pd.read_csv(df_path)

In [4]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'Cristina_Escriche'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [5]:
if not database_exists(engine.url):
    create_database(engine.url)

In [6]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL', con=engine, if_exists='replace', index=False )

-1

In [22]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con=engine)
df.head(10)

,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
5,6,2014-01-06,Falcon 9,3325.000000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,Thaicom,1,0,B1005,-80.577366,28.561857,0
6,7,2014-04-18,Falcon 9,2296.000000,CRS-3,ISS,CCSFS SLC 40,True Ocean,1,0,0,1,None,1.0,NASA (CRS),1,0,B1006,-80.577366,28.561857,1
7,8,2014-07-14,Falcon 9,1316.000000,Orbcomm-OG2-M1,LEO,CCSFS SLC 40,True Ocean,1,0,0,1,None,1.0,Orbcomm,1,0,B1007,-80.577366,28.561857,1
8,9,2014-08-05,Falcon 9,4535.000000,AsiaSat 8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,AsiaSat,1,0,B1008,-80.577366,28.561857,0
9,10,2014-09-07,Falcon 9,4428.000000,AsiaSat 6,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,AsiaSat,1,0,B1011,-80.577366,28.561857,0

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [8]:
#Rellena la variable query con tu consulta
query = """select DISTINCT LaunchSite from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [9]:
#Rellena la variable query con tu consulta
query = """select FlightNumber, LaunchSite from SPACEXTBL
WHERE LaunchSite LIKE 'CCS%'
LIMIT 5;"""
df  = pd.read_sql(query, con = engine )
df

   FlightNumber    LaunchSite
0             1  CCSFS SLC 40
1             2  CCSFS SLC 40
2             3  CCSFS SLC 40
3             5  CCSFS SLC 40
4             6  CCSFS SLC 40

### Ejercicio 3

##### Mustra la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [30]:
query = """select Customers, SUM(PayloadMass) AS Total_Payload_Mass  from SPACEXTBL
WHERE Customers = 'NASA (CRS)';"""
df  = pd.read_sql(query, con = engine )
df

    Customers  Total_Payload_Mass
0  NASA (CRS)             47094.7

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [31]:
query = """select AVG(PayloadMass) AS Payload_Mass_Average from SPACEXTBL
WHERE Serial like 'B1%';"""
df  = pd.read_sql(query, con = engine )
df

   Payload_Mass_Average
0           6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizó el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [36]:
query = """select MIN(Date) AS First_successfull_landing_on_ground from SPACEXTBL
WHERE LandingOutcome = 'TRUE RTLS';"""
df  = pd.read_sql(query, con = engine )
df

  First_successfull_landing_on_ground
0                          2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [ ]:
query = """select Serial from SPACEXTBL
WHERE Serial like 'B1%';"""
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia