# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [1]:
import pandas as pd
import numpy as np
!pip install sqlalchemy==1.4.16 --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

ModuleNotFoundError: ignored


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

In [ ]:
df_path = "/content/drive/MyDrive/Colab Notebooks/CSV/dataset_part_2 (1).csv"
df = pd.read_csv(df_path)

In [ ]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'Cristina_Escriche'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [ ]:
if not database_exists(engine.url):
    create_database(engine.url)

In [ ]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL', con=engine, if_exists='replace', index=False )

In [ ]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con=engine)
df.head(10)

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [ ]:
#Rellena la variable query con tu consulta
query = """select DISTINCT LaunchSite from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [ ]:
#Rellena la variable query con tu consulta
query = """select FlightNumber, LaunchSite from SPACEXTBL
WHERE LaunchSite LIKE 'CCS%'
LIMIT 5;"""
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 3

##### Mustra la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [ ]:
query = """select Customers, SUM(PayloadMass) AS Total_Payload_Mass  from SPACEXTBL
WHERE Customers = 'NASA (CRS)';"""
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [ ]:
query = """select AVG(PayloadMass) AS Payload_Mass_Average from SPACEXTBL
WHERE Serial like 'B1%';"""
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 5

##### Muestra la fecha donde se realizó el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [ ]:
query = """select MIN(Date) AS First_successfull_landing_on_ground from SPACEXTBL
WHERE LandingOutcome = 'TRUE RTLS';"""
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [ ]:
query = """select Serial from SPACEXTBL
WHERE LandingOutcome = 'TRUE ASDS'
AND PayloadMass BETWEEN 4000 AND 6000 ;"""
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia