# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [3]:
import pandas as pd
import numpy as np
!pip install sqlalchemy==1.4.16 --quiet
!pip install pymysql
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 3.0 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 61.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for mysql-connector (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.5/92.5 kB 1.7 MB/s eta 0:00:00


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [4]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [5]:
df_path = "/content/drive/MyDrive/Colab Notebooks/CSV/dataset_part_2 (1).csv"
df = pd.read_csv(df_path)

In [6]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'Cristina_Escriche'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [7]:
if not database_exists(engine.url):
    create_database(engine.url)

In [8]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL', con=engine, if_exists='replace', index=False )

-1

In [28]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con=engine)
df.head(7)

,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
5,6,2014-01-06,Falcon 9,3325.000000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,Thaicom,1,0,B1005,-80.577366,28.561857,0
6,7,2014-04-18,Falcon 9,2296.000000,CRS-3,ISS,CCSFS SLC 40,True Ocean,1,0,0,1,None,1.0,NASA (CRS),1,0,B1006,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [10]:
#Rellena la variable query con tu consulta
query = """select DISTINCT LaunchSite from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [11]:
#Rellena la variable query con tu consulta
query = """select FlightNumber, LaunchSite from SPACEXTBL
WHERE LaunchSite LIKE 'CCS%'
LIMIT 5;"""
df  = pd.read_sql(query, con = engine )
df

   FlightNumber    LaunchSite
0             1  CCSFS SLC 40
1             2  CCSFS SLC 40
2             3  CCSFS SLC 40
3             5  CCSFS SLC 40
4             6  CCSFS SLC 40

### Ejercicio 3

##### Mustra la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [12]:
query = """select Customers, SUM(PayloadMass) AS Total_Payload_Mass  from SPACEXTBL
WHERE Customers = 'NASA (CRS)';"""
df  = pd.read_sql(query, con = engine )
df

    Customers  Total_Payload_Mass
0  NASA (CRS)             47094.7

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [13]:
query = """select AVG(PayloadMass) AS Payload_Mass_Average from SPACEXTBL
WHERE Serial like 'B1%';"""
df  = pd.read_sql(query, con = engine )
df

   Payload_Mass_Average
0           6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizó el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [14]:
query = """select MIN(Date) AS First_successfull_landing_on_ground from SPACEXTBL
WHERE LandingOutcome = 'TRUE RTLS';"""
df  = pd.read_sql(query, con = engine )
df

  First_successfull_landing_on_ground
0                          2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [32]:
query = """select Serial, PayloadMass from SPACEXTBL
WHERE LandingOutcome = 'TRUE ASDS'
AND PayloadMass BETWEEN 4000 AND 6000 ;"""
df  = pd.read_sql(query, con = engine )
df

  Serial  PayloadMass
0  B1022       4696.0
1  B1026       4600.0
2  B1021       5300.0
3  B1031       5200.0
4  B1046       5800.0
5  B1046       4000.0
6  B1059       5000.0

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [24]:
query = """select Mission_Outcome, COUNT(Mission_Outcome) AS Mission_result from SPACEXTBL
Group By Mission_Outcome;"""
df  = pd.read_sql(query, con = engine )
df

   Mission_Outcome  Mission_result
0                0               2
1                1              88

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [33]:
query = """select Serial, PayloadMass from SPACEXTBL
WHERE PayloadMass = (SELECT Max(PayloadMass) from SPACEXTBL); """
df  = pd.read_sql(query, con = engine )
df

   Serial  PayloadMass
0   B1048      15600.0
1   B1049      15600.0
2   B1051      15600.0
3   B1056      15600.0
4   B1048      15600.0
5   B1051      15600.0
6   B1049      15600.0
7   B1059      15600.0
8   B1049      15600.0
9   B1060      15600.0
10  B1058      15600.0
11  B1051      15600.0
12  B1060      15600.0

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [27]:
query = """select LandingOutcome, Serial, LaunchSite from SPACEXTBL
WHERE Class = 0
And Date LIKE '2015%';"""
df  = pd.read_sql(query, con = engine )
df

  LandingOutcome Serial    LaunchSite
0     False ASDS  B1012  CCSFS SLC 40
1     False ASDS  B1015  CCSFS SLC 40
2      None None  B1016  CCSFS SLC 40
3      None ASDS  B1018  CCSFS SLC 40

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [31]:
query = """select LandingOutcome, COUNT(LandingOutcome) AS Frequency from SPACEXTBL
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
group by LandingOutcome
ORDER BY Frequency DESC;"""
df  = pd.read_sql(query, con = engine )
df

  LandingOutcome  Frequency
0      None None          9
1      True ASDS          5
2     False ASDS          4
3     True Ocean          3
4      True RTLS          3
5    False Ocean          2
6      None ASDS          2